<!doctype html>
<html class="no-js" lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Digital Portfolio</title>
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css">
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/all.css">
  <script src="{{ app.request.basepath }}/js/modernizr-2.5.3-custom-1.js"></script>
</head>
<body>

<div id="main-container" class="cf">
  <div class="cf" id="topbar">
    <!-- <img align="right" src="{{ app.request.basepath }}/images/header.png"> -->
    <span style="display: block; text-align: center; padding: 20px 0 20px 200px; color: #000077; font-size: 32pt;">Digital Portfolio</span>
  </div>
  {% block sidebar %}
  {{ render('/sidebar') }}
  {% endblock %}
  <div id="main-content">
    {% block content %}{% endblock %}
  </div>
</div>

</body>
</html>
