<!doctype html>
<html class="no-js" lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {{ block('meta_opengraph') }}
  <title>{{ app.title }}</title>
  <link rel="stylesheet" href="{{ app.request.basepath }}/components/normalize.css/normalize.css">
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/all.css">
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/custom.css">
  <script src="{{ app.request.basepath }}/components/modernizr/modernizr.js"></script>
  <script src="{{ app.request.basepath }}/components/jquery/jquery.min.js"></script>
  <script src="{{ app.request.basepath }}/components/jquery-hoverIntent/jquery.hoverIntent.js"></script>
  <script src="/js/portfolio-browser.js"></script>
  {% include 'layout.head.custom.html.twig' ignore missing %}
</head>
<body>

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '{{facebookAppId}}',
    status     : true,
    xfbml      : true
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="main-container" class="cf">
  <div class="cf" id="topbar">
    {% include 'topbar.html.twig' %}
  </div>
  {% block sidebar %}
  {{ render('/sidebar?browsing_code=' ~ block('browsing_code')) }}
  {% endblock %}
  <div id="main-content">
    {% block content %}{% endblock %}
  </div>
  {% block tagcloud %}
  {{ render('/tagcloud?browsing_code=' ~ block('browsing_code')) }}
  {% endblock %}
</div>

{% include 'layout.body-end.custom.html.twig' ignore missing %}
</body>
</html>
