{% extends layout %}
{% block browsing_code browsing.code %}

{% block content %}
<div id="main-portfolio">
<figure>
<div class="elementcontainer">
{% include "element.#{element.getElementType}.html.twig" %}
</div>

<nav class="dot-nav">
<ul>
  {% for el in browsing.elements %}
  <li {% if el is sameas(element) %}class="current"{% endif %}>
  <a href="{{ browsing.getElementId(el)|url_encode }}">o</a></li>
  {% endfor %}
</ul>
</nav>

<figcaption>
{{ element.description|raw}}
</figcaption>
</figure>

<div class="elementtags cf" {% if element.tags|length == 0 %}style="display: none"{% endif %}>
tags:
<ul>
{% spaceless %}
{% for tag in element.tags %}
<li><a href="/portfolio/{{ tag.code }}/{{ tag.getElementId(tag.getFirstElement)|url_encode }}">{{ tag.name }}</a></li>
{% endfor %}
{% endspaceless %}
</ul>
</div>

<script>$(function() {
  $('#main-portfolio').portfolioBrowser('{{ browsing.code|e('js')|e('html') }}', '{{ browsing.getElementId(element)|e('js')|e('html') }}');
  });
</script>
</div>
{% endblock %}
