{% extends layout %}
{% block browsing_code browsing.code %}

{% block meta_opengraph %}
<meta property="og:url" content="{{ app.base_url }}{{ app.request.basepath }}/portfolio/{{ element.group.code }}/{{ element.code|url_encode }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ element.group.name }} — {{ app.title }}">
<meta property="og:site_name" content="{{ app.title }}">
<meta property="og:description" content="{{ element.description|striptags }}">
{% include "element.#{element.getElementType}.meta_opengraph.html.twig" ignore missing %}
{% endblock %}

{% block content %}
<div id="main-portfolio">
<figure>
{% set previous = browsing.getPreviousElement(element) %}
{% set next = browsing.getNextElement(element) %}
<div class="elementcontainer element-container-size-{{ element.containerSizeCode }} {% if previous == null %}showing-first{% endif %} {% if next == null %}showing-last{% endif %} ">
{% include "element.#{element.getElementType}.html.twig" %}
</div>
<a class="previous" href="{% if previous != null %}{{ browsing.getElementId(previous)|url_encode }}{%else %}#{% endif %}"><span>&lt;</span></a>
<a class="next" href="{% if next != null %}{{ browsing.getElementId(next)|url_encode }}{% else %}#{% endif %}"><span>&gt;</span></a>

<nav class="dot-nav">
<ul>
  {% for el in browsing.elements %}
  <li {% if el is sameas(element) %}class="current"{% endif %}>
  <a href="{{ browsing.getElementId(el)|url_encode }}">o</a></li>
  {% endfor %}
</ul>
</nav>

<figcaption>{{ element.description|raw }}</figcaption>
</figure>

{% if app.facebook_element_like %}
<div class="fb-like-hover">
<img src="/images/fb-like-gray.png" width="16" height="15">
</div>
{% endif %}

<div class="elementtags cf" {% if element.tags|length == 0 %}style="display: none"{% endif %}>
tags:
<ul>
{% spaceless %}
{% for tag in element.tags %}
<li><a href="/portfolio/{{ tag.code }}/{{ tag.getElementId(tag.getFirstElement)|url_encode }}">{{ tag.name }}</a></li>
{% endfor %}
{% endspaceless %}
</ul>
</div>

<script>$(function() {
  $('#main-portfolio').portfolioBrowser('{{ browsing.code|e('js')|e('html') }}', '{{ browsing.getElementId(element)|e('js')|e('html') }}');
  });
</script>
</div>
{% endblock %}
