{% extends layout %}
{% block browsing_code browsing.code %}

{% block content %}
<div id="main-portfolio">
<figure>
<div class="elementcontainer">
{% include "element.#{element.getElementType}.html.twig" %}
</div>
{% set previous = browsing.getPreviousElement(element) %}
{% set next = browsing.getNextElement(element) %}
<a class="previous" href="{% if previous != null %}{{ browsing.getElementId(previous)|url_encode }}{%else %}#{% endif %}"><span>&lt;</span></a>
<a class="next" href="{% if next != null %}{{ browsing.getElementId(next)|url_encode }}{% else %}#{% endif %}"><span>&gt;</span></a>

<nav class="dot-nav">
<ul>
  {% for el in browsing.elements %}
  <li {% if el is sameas(element) %}class="current"{% endif %}>
  <a href="{{ browsing.getElementId(el)|url_encode }}">o</a></li>
  {% endfor %}
</ul>
</nav>

<figcaption>
{{ element.description|raw}}
</figcaption>
</figure>

<div class="fb-like-hover">
<img src="/images/fb-like-gray.png" width="16" height="15">
</div>

<div class="elementtags cf" {% if element.tags|length == 0 %}style="display: none"{% endif %}>
tags:
<ul>
{% spaceless %}
{% for tag in element.tags %}
<li><a href="/portfolio/{{ tag.code }}/{{ tag.getElementId(tag.getFirstElement)|url_encode }}">{{ tag.name }}</a></li>
{% endfor %}
{% endspaceless %}
</ul>
</div>

<script>$(function() {
  $('#main-portfolio').portfolioBrowser('{{ browsing.code|e('js')|e('html') }}', '{{ browsing.getElementId(element)|e('js')|e('html') }}');
  });
</script>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
